<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Chat</title>

        <link rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon" />
        <link rel="stylesheet" href="./css/chat.css" />
    </head>
    <body>
        <script>
            var user = <%- JSON.stringify(user) %>
        </script>
        <div class="container">
            <div class="appbar">
                <%=user.gang%>'s Chat
                <a class="link-right" href="/profile"><img src="./assets/profile.png" /></a>
            </div>

            <div class="chat-area" id="chat-area">
                <div class="chat">
                    <small>Names Clash</small>
                    <p>This is where all <%=user.gang%> meet.</p>
                </div>
            </div>

            <div class="typing" id="typing"></div>

            <div class="form">
                <input type="text" class="message" id="message" placeholder="Enter message" />
                <button id="send" class="send"><img src="./assets/send.png" alt="Send" /></button>
            </div>
        </div>

        <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"></script>
        <script src="./js/chat.js"></script>
    </body>
</html>
