<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Login | Names Clash</title>

        <link rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon" />
        <link rel="stylesheet" href="./css/login.css" />
        <link rel="manifest" href="./manifest.json" />
    </head>
    <body>
        <div class="container">
            <div class="logo">
                <img src="./assets/logo-alt.png" alt="Names Clash" />
                <h3 class="brand">Names Clash</h3>
            </div>

            <div class="sized-box"></div>

            <div class="bottom">
                <button id="login-btn" class="btn">Login with Google</button>
                <p class="terms">
                    By signing in you agree to our <span>Terms and conditions</span>.
                </p>
            </div>
        </div>
        <script src="./js/login.js"></script>
    </body>
</html>
