<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Profile</title>

		<link rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon" />
		<link rel="stylesheet" href="./css/profile.css" />
		<link rel="manifest" href="./manifest.json" />
	</head>
	<body>
		<div class="container">
			<div class="appbar">Profile</div>

			<div class="body">
				<div class="avatar-div">
					<img src="<%=user.photoUrl%>" alt="avatar" class="avatar" />
				</div>

				<div class="info">
					<p class="name"><%=user.name%></p>
					<p class="gang"><%=user.gang%> Gang</p>
				</div>

				<div class="nav">
					<% if(user.gang == "newbie"){ %>
					<div class="nav-link" id="select-gang">
						<span>Select Gang</span>
					</div>
					<div id="select-gang-modal" class="modal">
						<div class="modal-content">
							<div class="modal-header">
								<span class="close">&times;</span>
								<h2>Select Gang</h2>
							</div>

							<div class="modal-body">
								<% gangs.map(gang => { %>
								<div class="modal-option"><%= gang %></div>
								<% }) %>
							</div>

							<div class="modal-footer">
								<p>
									Cannot find your name? Mail us at:
									<a href="mailto:im.gunjan1@gmail.com">im.gunjan1@gmail.com</a>
								</p>
							</div>
						</div>
					</div>
					<% } else { %>
					<div class="nav-link" id="chat">
						<img src="./assets/chat-icon.png" alt="Let's" />
						<span>Chat</span>
					</div>
					<% } %>

					<div class="nav-link" id="rank">
						<img src="./assets/rank icon.png" alt="View" />
						<span>Rank</span>
					</div>
				</div>

				<div class="sized-box"></div>

				<button id="logout" class="btn">Logout</button>
			</div>
		</div>
		<script src="./js/profile.js"></script>
	</body>
</html>
