<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Profile</title>

        <link rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon" />
        <link rel="stylesheet" href="./css/profile.css" />
    </head>
    <body>
        <% var userData = user._json %>
        <div class="container">
            <div class="appbar">Profile</div>

            <div class="body">
                <div class="avatar-div">
                    <img src="<%=userData.picture%>" alt="avatar" class="avatar" />
                </div>

                <div class="info">
                    <p class="name"><%=userData.name%></p>
                    <p class="gang"><%=userData.given_name.split(' ')[0]%> Gang</p>
                </div>

                <div class="nav">
                    <div class="nav-link" id="chat">
                        <img src="./assets/chat-icon.png" alt="Let's" />
                        <span>Chat</span>
                    </div>

                    <div class="nav-link" id="rank">
                        <img src="./assets/rank icon.png" alt="View" />
                        <span>Rank</span>
                    </div>
                </div>

                <div class="sized-box"></div>

                <button class="btn">Logout</button>
            </div>
        </div>
        <script src="./js/profile.js"></script>
    </body>
</html>
