@import url("./default.css");

.body {
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: calc(90% - 60px);
}

.avatar-div {
    width: 120px;
    height: 120px;
    border-radius: 20px;
    background-color: var(--grey-alt);
}

.avatar {
    margin: 4px;
    width: 112px;
    height: 112px;
    border-radius: 20px;
}

.name {
    font-size: 1.3rem;
}

.gang {
    font-weight: 300;
}

.info {
    line-height: 0.4;
    text-align: center;
}

.nav {
    display: flex;
    margin: 1em;
    width: 90%;
    justify-content: space-around;
    font-weight: 300;
    font-size: 0.9rem;
}

.nav-link {
    width: 80px;
    padding: 0.8em;
    background-color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 4px;
    cursor: pointer;
}

.nav-link:hover {
    background-color: var(--grey-alt);
}

.nav > div > img {
    height: 24px;
}

.sized-box {
    height: 25%;
}
