@import url("./default.css");

.body {
	padding: 1em 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: calc(90% - 60px);
}

.avatar-div {
	width: 120px;
	height: 120px;
	border-radius: 20px;
	background-color: var(--grey-alt);
}

.avatar {
	margin: 4px;
	width: 112px;
	height: 112px;
	border-radius: 20px;
}

.name {
	font-size: 1.3rem;
}

.gang {
	font-weight: 300;
}

.info {
	line-height: 0.4;
	text-align: center;
}

.nav {
	display: flex;
	margin: 1em;
	width: 90%;
	justify-content: space-around;
	font-weight: 300;
	font-size: 0.9rem;
}

.nav-link {
	width: 36%;
	max-width: 120px;
	padding: 0.8em;
	background-color: var(--grey);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 4px;
	cursor: pointer;
}

.nav-link:hover {
	background-color: var(--grey-alt);
}

.nav > div > img {
	height: 24px;
}

.sized-box {
	height: 25%;
}

/********************************************/
/************** Modal **********************/
/******************************************/

.modal {
	display: none;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-header {
	padding: 1px 16px;
	background-color: var(--red-trans);
	color: var(--typo);
}

.modal-content {
	background-color: var(--grey);
	margin: 10vh auto;
	padding: 0;
	/* border: 1px solid #888; */
	width: 80%;
	max-width: 360px;
	max-height: 80%;
	overflow-y: auto;
}

.modal-content::-webkit-scrollbar {
	width: 0.6em;
	background-color: var(--grey);
}

.modal-content::-webkit-scrollbar-thumb {
	background-color: var(--red);
	outline: 0;
	border-radius: 20px;
}

.modal-option {
	text-align: center;
	padding: 1em;
	background-color: var(--grey);
	cursor: pointer;
}

.modal-option:hover {
	background-color: var(--grey-alt);
}

.modal-footer {
	margin-top: 8px;
	text-align: center;
	padding: 2px 16px;
	background-color: var(--darkblue);
	color: white;
}

.modal-footer a {
	color: var(--red);
}

.close {
	padding: 0.4em;
	color: var(--typo);
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
